/*------Configuracion basica ------*/
{
  box-sizing: border-box;
  border: red 1px solid;
  font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  text-decoration: none;

}
:root {
  background-color: #f1f1f1;
  font-family: "Roboto", Arial, sans-serif;
}

/*--------------------------------Estructura principal----*/
html{
  display: grid;
  grid-template-rows: 1.7fr 0.3fr;
}
main{
  display: grid;
  grid-template-columns: 0.2fr 2.6fr 0.2fr;
}
footer{
  display: grid;
  position: relative;
}
iframe{
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
}
.head{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  align-content: center;
}
.centro{
  display: grid;
  grid-template-rows: 0.2fr 1.1fr 0.6fr 1.1fr;
}

/*---------------------Menus-------*/
.menu1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.menu2{
  display: grid;
  position: relative;

}
.blog{
  display: grid;
  position: relative;
}

.content{

}

/*---------------Textos------*/
#curri{
}
#port{
}
#blog{
}
.text_menu{

}

/*------Botones---------*/
#button_blog{
  background-image: url(img/blog3.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  padding-top: 9%;
  padding-bottom: 10%;
}
#button_port{
  background-image: url(img/interesante7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  padding-top: 18%;
  padding-bottom: 18%;
}
#button_curri{
  background-image: url(img/main2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.btn {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  font-size: 220%;
  opacity: 0.6;
  transition: 0.3s;
  padding: 0px;
  margin: 0px;
}

.btn:hover {
  color: black;
  opacity: 1;
  text-shadow: 1px 1px 5px white;
  letter-spacing: 6px;
  font-weight: bold;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
  color: white;
}

/*--------------------------------ALGO----*/
.centerText{
  text-align: center;
}
.forms{
  background-color: #fff;
}
.formLabels{
  font-weight: 400;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
}
.formsingup{
  padding: 3%;
}
label{
  text-align: right;
}
#textform{
  font-size: 14px;
  font-weight: 300;
  color: #767676;
}
#learnmore{
  font-size: 12px;
  font-weight: 300;
}
#textphone{
  font-size: 10px;
  font-weight: 400;
}
/*--------------------------------ALGO----*/
fieldset{
  margin: 0;
  padding: 0;
}
.terms{
  font-size:12px;
  font-weight: 400;
  text-align: center;
  margin: 5%;
}
.captcha{
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  align-content: center;
  padding: 2%;
  background-color: #f1f1f1;
}
#textcaptcha{

}

/*--------------------------------ALGO----*/

.textfooter{
  display: grid;
  grid-template-columns: 35% 10% 10% 10% 35%;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #505050;
}
.textfooter1{
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #505050;
}
